:root {
  --color-background: white;
  --color-white: white;
  --color-background-dark: #121212;
  --color-background-dark-lighten: #2a2a2a;
  --color-button-background-default: rgb(37, 59, 94);
  --color-button-background-hover: rgba(25, 54, 101, 0.2);
  --color-primary: rgb(25, 54, 101);
  --color-primary-lighten: #f4f1fa;
  --color-secondary: #fafafa;
  --color-secondary-dark: #1e1e1e;
  --color-border: #ebebeb;
  --color-border-dark: #2b2b2b;
  --color-text: #4a4a4a;
  --color-text-lighten: #7a7a7a;
  --color-text-dark: var(--color-background);
  --color-text-dark-lighten: #979797;
  --color-anchor-dark: var(--color-text-dark);
  --color-success: #50b154;
  --color-error: #ff5252;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background: var(--color-primary);
  color: var(--color-text);
  direction: ltr;
	font-family: Helvetica, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.5rem;
	margin: 0;
  overflow: hidden;
}

.body__popup {
  min-width: 24rem;
  max-width: 34rem;
}

.header {
  align-items: center;
  background: var(--color-primary);
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  padding: 0 1.5rem;
	color: white;
}

.spacer {
  flex-grow: 1;
}
.popup {
  // ウィンドウサイズ
  background: var(--color-background);
  max-height: 36rem;
  overflow-y: auto;
}
.header__logo {
	color: white;
}
.memo__text {
	min-width: 24rem;
	max-width: 34rem;;
}

textarea {
	resize: none;
	width: 100%;
	background-color: transparent;
	border: 1px solid #b6c3c6;
	border-radius: 0.2rem;
}

.FlexTextarea__textarea {
  height: 8rem;
}


.label__heading {
	font-weight: bold;
	line-height: 2rem;
	color: var(--color-text);
	text-decoration: none;
}

.memo__area {
	margin: 0 1rem 0 1rem;
}

.tabs {
	display: flex;
  color: var(--color-primary);
  align-items: center;
  border-bottom: 1px solid;
  border-color: var(--color-border);
}

.tab {
    color: var(--color-text-lighten);
    cursor: pointer;
    letter-spacing: .5px;
    padding: 1rem 1.5rem 0.8rem 1.5rem;
    // text-transform: uppercase;
    white-space: nowrap;
    position: relative;

    &.tab--active {
      background: var(--color-primary-lighten);
      border-bottom: 2px solid var(--color-primary);
      color: var(--color-primary);
      pointer-events: none;
    }
}

.clipboard__copy__btn {
	font-size: 0.8rem;
	color: white;
	background-color: white;
	border-radius: 10px;
  width: 4rem;
  padding: 0.4rem 0rem 0.4rem 0rem;
	border: solid var(--color-primary);
	background-color: var(--color-primary);
  margin-bottom: 0.5rem;
  &:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-secondary-dark);
  }
}
.copy__button__space {
	display: flex;
}

.button__link {
	border-radius: 4px;
	padding: 0.2rem 1rem 0.2rem 1rem;
	margin-top: 0.2rem;
	margin-right: 0.2rem;
  background-color: var(--color-button-background-default);
  color: var(--color-white);

  &:hover {
	background-color: var(--color-button-background-hover);
  color: var(--color-primary);
	cursor: pointer;
  }
}

#memoArea {
  display: none;
}
// メモを取得できない場合のメッセージ
#errorMessage {
  display: none;
	margin: 0 1rem 1rem 1rem;
}
